<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= titulo %>
  </title>
  <%- include('./partes/head.ejs'); -%>
</head>


<body>
  <h1>Cuantas</h1>
  <%- include('./partes/footer.ejs'); -%>
</body>

</html>
